<div class="container">
	<div class="row">
		<div class="col-sm-8">
			Emergency Resources<br>
				<ul>
	                	<li ng-repeat="cat in cats">{{cat.name}}</li>
	                	<li ng-repeat="cat in cats">{{cat.address}}</li>
				</ul>
				<ul>
					<li>If you're need of immediate medical attention call 911</li>
					<li>National Suicide Prevention Lifeline: 1-800-273-8255</li>
					<li>Re:Solve Crisis Center: 1-888-796-8226</li>
					<li>Pittsburgh Action Against Rape (PAAR): 1-866-363-7273</li>
				</ul>	
		</div>
		<div class="col-sm-4">
			<img class="img-responsive" src="img/cross.jpg" />
		</div>
	</div>
</div>