<!-- maps.html -->
<!-- embedded map and list of resources wil go here -->

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-sm-8">    <!-- map goes here -->
            <div id="map"></div>
        </div>

        <div class="col-sm-4">    <!-- list goes here -->
            <h3>{{getCatMessage();}}</h3>
            <div class="panel-group">
                <div class="panel panel-default" ng-repeat="res in resources">
                    <div class="panel-heading">{{res.name}}</div>
                    <div class="panel-body">
                        <p>{{res.phone}}</p>
                        <p>{{res.address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>