<!-- maps.html -->
<!-- embedded map and list of resources wil go here -->

<div style="margin-top: 50px">
    <h3 style="padding-left:30px"> {{getCatMessage();}}</h3>

    <div class="col-sm-4">      <!-- resources go here -->
        <!-- <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="cat in cats">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{cat.name}}">{{cat.name}}</a>
                </div>
                <div id="{{cat.name}}" class="panel-collapse collapse" data-parent="#accordion">
                    <div class="panel panel-default" ng-repeat="res in resources">
                        <div class="panel-heading">
                            {{res.name}}
                        </div>
                        <div class="panel-body">
                            <p>{{res.phone}}</p>
                            <p>{{res.address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- This is where we try to make the accordion -->

    <div id="accordion" class="panel-group">
        <div class="panel panel-default" ng-repeat="cat in cats">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">{{cat.name}}</a>
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group" ng-repeat="res in resources | catFilter : cat.name">
                        <li class="list-group-item">{{res.name}}</li>
                        <li class="list-group-item">{{res.phone}}</li>
                        <li class="list-group-item">{{res.address}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- this is where the accordion ends -->

    </div>
    <div class="col-sm-8">    <!-- map goes here -->
        <div id="map"></div>
    </div>
</div>