.content {
	padding: 5%;
}

/* probably should fix this so it does not use pixels for padding */
.emergency {
    position: fixed;
	width: 100%;
	text-align: center;
	bottom: 0;
	padding: 10px;
}

.customStyle{
	background-color: #F6E0ED;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.customNav{
	
}
