/* probably should fix this so it does not use pixels for padding */
.emergency {
    position: fixed;
	width: 100%;
	text-align: center;
	bottom: 0;
	padding: 10px;
}

#map {
	height: 400px;
	width: 100%;
}

.customStyle{
	background-color: #FFC7E8;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

#myCarousel{
	display: inline-block;
	width: 100%;
}

.carouselPic{
	height:400px;
}

.carousel-inner img {
	margin: auto;
}